@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500");

:root {
  background-color: #230041;
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

li {
  color: white
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", Helvetica, sans-serif;

}

p {
  color: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: #c683ff;
  text-decoration: none;
}

a p {
  color: #c683ff;
}

input {
  color: black;
}

.input-button {
  margin-top: 5px;
  border: none;
  outline: none;
  padding: 14px 25px;
  cursor: pointer;
  background-color: #c683ff;
  color: #230041;
  font-weight: bold;
  border-radius: 50px;
  transition: all .35s;
  font-size: 18px;
}

.form-container {
  width: 500px;
}

.results-container {
  width: 800px;
  padding-top: 30px;
  margin:0 auto;
}

.input-button:hover {
  background-color: #a955f1;
}

@media screen and (max-width: 500px) {
  .form-container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .results-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    pading-top: 20px;
  }
}
