@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --bg: #17171C;
  --hackathonColor: #4329A6;
  --bountyColor: #4250E4;
}

li {
  color: white
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--bg);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 23px 60px;
  gap: 10px;
  max-width: max-content;
  cursor: pointer;

  background: #595959;
  border-radius: 50px;
  border: none;

  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-decoration: none;

  transition-property: filter;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.08,0.52,0.52,1);
}

.button:disabled {
  filter: brightness(50%);
  cursor: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(85%);
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #9C9C9C;
  font-weight: bold;
}

.footer span {
  padding-bottom: 8px;
}