@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #230041;
    --max-width: 1100px;
    --border-radius: 12px;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(
      from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg
    );
    --secondary-glow: radial-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
      #00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080
    );

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
  }

  * {
    @apply box-border p-0 m-0;
  }

  li {
    @apply text-white;
  }

  p {
    @apply text-white;
  }

  html,
  body {
    @apply max-w-[100vw] overflow-x-hidden h-full m-0;
  }

  body {
    color: rgb(var(--foreground-rgb));
  }
  
  a {
    @apply no-underline text-[#c683ff];
  }
  
  a p {
    @apply text-[#c683ff];
  }
  
  input {
    @apply text-black;
  }
}

@layer components {
  .wrapper {
    min-height: calc(100% - 70px);
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    @apply -mb-[50px];
  }
  
  .footer {
    @apply h-[50px] flex justify-center items-center bg-[#c683ff] mt-[70px];
  }
  
  .footer p {
    @apply text-[#551a8b] m-0 text-center ml-[10px];
  }
  
  .footer a {
    @apply text-[#551a8b];
  }

  .input-button {
    @apply mt-[5px] border-0 px-[25px] py-[14px] text-[#230041] bg-[#c683ff] cursor-pointer font-bold rounded-[50px] transition-all duration-[.35s] text-[18px];
    outline: none;
  }

  .app-container {
    @apply p-5 min-h-full;
  }

  .form-container {
    @apply w-[500px];
  }

  .results-container {
    @apply w-[800px] pt-[55px];
    margin: 0 auto;
  }

  .input-button:hover {
    @apply bg-[#a955f1];
  }

  @media screen and (max-width: 500px) {
    .form-container {
      @apply w-full;
    }
  }

  @media screen and (max-width: 600px) {
    .sponsor {
      @apply hidden;
    }
  }

  @media screen and (max-width: 900px) {
    .results-container {
      @apply w-full px-[15px] pt-[30px];
    }
  }

  @media screen and (max-width: 450px) {
    .hero-header {
      @apply leading-[70px];
    }
  }
}