.homeContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.homeContainer .texts {
  display: flex;
  flex-direction: column;
  width: 40%;

  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.homeContainer .texts .smallText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.homeContainer .texts .bigText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: justify;
  margin-bottom: 60px;
}

.homeContainer .texts .button {
  background-color: #CC00FF;
}

